filebeat.prospectors:
- input_type: log
  paths:
    {% for path in filebeat_paths %}
    - {{ path }}
    {% endfor %}
  #multiline.pattern: '^(\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2})'
  #multiline.negate: true
  #multiline.match: after

name: {{ filebeat_name }}

tags: [{{ filebeat_tags }}]

fields:
  env: {{ filebeat_env }}

output.elasticsearch:
  hosts: [{{ filebeat_es_ingest_nodes }}]
  index: {{ filebeat_es_index }}
  pipeline: {{ filebeat_es_pipeline }}

#logging.level: debug